.nav {
    display:flex;
    position: fixed;
    padding: 10px 0;
    background-color:rgb(238,238,238);
    z-index: 3;
}

.pictures {
    width: 35%;
}

.anchor {
    width: 70%;
    display:flex;
    justify-content: space-around;
}

.anchor__style {
    font-size:18px;
    color:rgb(0, 0, 0);
}

