.nav {
    display:flex;
    position: fixed;
    padding: 10px 0;
    background-color:rgb(238,238,238);
    z-index: 3;
    width: 100%;
}

.pictures {
    width: 30%;
}

.anchor {
    width: 60%;
    display:flex;
    justify-content: space-around;
}

.anchor__style {
    font-size:19px;
    color:rgb(0, 0, 0);
}

